body {
    background-color: #eeeeee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 8px;
}

.subtle {
    font-style: italic;
    font-size: smaller;
}

.validate-btn {
    margin: 32px auto 64px auto;
    background-color: rgb(153, 229, 183);
    border-radius: 8px;
    border: none;
    font-size: 24px;
    display: block;
    width: 300px;
    padding: 8px;
}

.validate-btn:hover {
    background-color: rgb(194, 229, 208);
    cursor: pointer;
}

.question {
    background-color: white;
    border-radius: 16px;
    margin: 8px;
    padding: 16px;
}

.answer {
    display: block;
    padding: 8px 0;
}

.answer:hover {
    background-color: #eeffee;
}


.correct {
    background-color: rgb(153, 229, 183);
}

.wrong {
    background-color: rgb(231, 190, 190);
}

.question-form {
    border: 1px solid black;
    margin: 4px;
}

.question-form input[type="text"] {
    width: 400px;
}

.question-form textarea {
    display: block;
    width: 450px;
}

.nav {
    color: black;
    margin: 8px;
    padding: 4px 16px;
    display: inline-block;
    background-color: rgb(153, 229, 183);
    text-decoration: none;
    border-radius: 8px;
}

.nav:hover {
    background-color: rgb(194, 229, 208);
    cursor: pointer;
}

.nav:visited {
    color: black;
}

ul, ol {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

ol {
    list-style-position: inside;
}

ol li h3 {
    display: inline;
}

.list {
    margin-left: 0;
    display: block;
}

.order-setting {
    float: right;
}

.quiz-title {
    width: 400px;
    font-size: 18px;
}

@media screen and (min-width: 720px) {
    main {
        max-width: 720px;
        margin: auto;
    }
}